.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: transparent;

  /* Animations */

  transition: all 0.5s;
}

.nav_logo {
  color: #f4f4f4;
  font-size: 20px;
  line-height: 20px;
  transition: 0.5s;
}
.nav_logo2 {
  font-size: 40px;
  line-height: 10px;
  color: #f4f4f4;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav_white {
  background-color: #22211f;
  border-left: 80px solid #ff7314;
  border-right: 80px solid #ff7314;
}

.nav_white:before,
.nav_white:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 65vw;
  margin-top: 10px;
}
.nav_white :before {
  right: 0em;
  margin-left: -50%;
}
.nav_white:after {
  left: 0.5em;
  margin-right: -50%;
  display: none;
}
